client
dev {{ openvpn_dev | regex_replace('\d+', '') }}
proto {{ openvpn_proto }}
remote {{ external_server_ip.content }} {{ openvpn_port }}
cipher {{ openvpn_cipher }}
auth {{ openvpn_auth_alg }}
{{ openvpn_compression }}
resolv-retry infinite
nobind
auth-nocache
#user nobody
#group nogroup
persist-key
persist-tun
remote-cert-tls server
key-direction 1
comp-lzo
#status /etc/openvpn/openvpn-status.log
#log         /etc/openvpn/openvpn.log
#log-append  /etc/openvpn/openvpn.log
verb 3
mute 20
<ca>
ca_file
</ca>
<cert>
client_cert_file
</cert>
<key>
client_key_file
</key>
<tls-auth>
tls_file
</tls-auth>
<dh>
dh_file
</dh>