#!/bin/bash
MAIN_ACCESS_SERVER_IP="{{ main_access_server_ip }}"
BACK_ACCESS_SERVER_IP="{{ back_access_server_ip }}"
VPN_NET="{{ firewall_vpn_sub }}"
MAIN_IFACE_NAME="$(cat /etc/sysconfig/network-scripts/ifcfg-* | grep NAME | grep -v loopback | cut -d '"' -f1)"
TUN_IFACE_NAME="$(ip a | grep -v inet | egrep ' tun.*' | cut -d ':' -f2)"
SERVER_IP="$(ip addr sh | grep "inet" | grep $MAIN_IFACE_NAME | awk '{ print $2 }' | cut -f1  -d'/')"

#Default policy
iptables -P INPUT   DROP
iptables -P FORWARD DROP
iptables -P OUTPUT  ACCEPT

#Flushing all rules
iptables -Z
iptables -F
iptables -X
iptables -t nat -F
iptables -t nat -X
iptables -t mangle -F
iptables -t mangle -X

# Allow SSH Access From MAIN_SERVER_IP and BACK_SERVER_IP
iptables -A INPUT -p tcp -s 0\0 -d $SERVER_IP --dport {{ open_ssh_port }} -m state --state NEW,ESTABLISHED -j ACCEPT
iptables -A INPUT -p udp -s $MAIN_ACCESS_SERVER_IP -d $SERVER_IP --dport {{ open_ssh_port }} -m state --state NEW,ESTABLISHED -j ACCEPT
iptables -A INPUT -p tcp -s $BACK_ACCESS_SERVER_IP -d $SERVER_IP --dport {{ open_ssh_port }} -m state --state NEW,ESTABLISHED -j ACCEPT

# Allow Open VPN
iptables -A INPUT -p udp -s 0/0 -d $SERVER_IP --dport {{ openvpn_port }} -m state --state NEW,ESTABLISHED -j ACCEPT
iptables -A INPUT -p tcp -s 0/0 -d $SERVER_IP --dport {{ openvpn_port }} -m state --state NEW,ESTABLISHED -j ACCEPT

# NAT OpenVPN
iptables -A FORWARD -i $TUN_IFACE_NAME -o $MAIN_IFACE_NAME -s $VPN_NET -j ACCEPT
iptables -A FORWARD -m state --state RELATED,ESTABLISHED -j ACCEPT
iptables -t nat -A POSTROUTING -s $VPN_NET -o $MAIN_IFACE_NAME -j MASQUERADE

#Ping
iptables -A INPUT -p icmp --icmp-type echo-request -j ACCEPT
iptables -A OUTPUT -p icmp --icmp-type echo-reply -j ACCEPT
iptables -A INPUT -p icmp --icmp-type echo-reply -j ACCEPT
iptables -A OUTPUT -p icmp --icmp-type echo-request -j ACCEPT

# Drop
iptables -A INPUT -p udp -j REJECT --reject-with icmp-port-unreachable
iptables -A INPUT -p tcp -j REJECT --reject-with tcp-reset
iptables -A INPUT -j REJECT --reject-with icmp-proto-unreachable

iptables -A INPUT -p icmp --icmp-type 8 -m state --state NEW,ESTABLISHED,RELATED -j ACCEPT
iptables -A OUTPUT -p icmp --icmp-type 0 -m state --state ESTABLISHED,RELATED -j ACCEPT
iptables -A OUTPUT -p icmp -j DROP

# Allow Forward ping
iptables -A FORWARD -p icmp --icmp-type 8 -j ACCEPT
iptables -A FORWARD -p icmp --icmp-type 0 -j ACCEPT
iptables -A FORWARD -j DROP

#Output Accept
iptables -A OUTPUT -j ACCEPT

#set persistent
iptables-save > /etc/sysconfig/iptables
iptables-restore < /etc/sysconfig/iptables
service fail2ban restart