local {{ openvpn_ip_listen }}
dev {{ openvpn_dev }}
proto {{ openvpn_proto }}
cipher {{ openvpn_cipher }}
port {{ openvpn_port }}
auth {{ openvpn_auth_alg }}
server {{ openvpn_server }}
push "redirect-gateway def1 bypass-dhcp"
push "dhcp-option DNS 208.67.222.222"
push "dhcp-option DNS 208.67.220.220"
duplicate-cn
keepalive {{ openvpn_keepalive }}
{{ openvpn_compression }}
max-clients {{ openvpn_max_clients }}
key-direction 0
user nobody
group nobody
persist-key
persist-tun
status {{ openvpn_status_log }}
log {{ openvpn_log }}
log-append  {{ openvpn_log }}
verb 3
mute 20
<ca>
ca_file
</ca>
<cert>
server_cert_file
</cert>
<key>
server_key_file
</key>
<dh>
dh_file
</dh>
<tls-auth>
tls_file
</tls-auth>