set_var EASYRSA_DN     "org"
set_var EASYRSA_KEY_SIZE       {{ easy_rsa_key_size }}
set_var EASYRSA_ALGO       {{ easy_rsa_algo }}
set_var EASYRSA_CURVE          {{ easy_rsa_curve }}
set_var EASYRSA_CA_EXPIRE     {{ easy_rsa_expire_days }}
set_var EASYRSA_REQ_CN         {{ easy_rsa_cn }}
set_var EASYRSA_DIGEST         {{ easy_rsa_digest }}
set_var EASYRSA_REQ_COUNTRY	{{ easy_rsa_country }}
set_var EASYRSA_REQ_PROVINCE	{{ easy_rsa_city }}
set_var EASYRSA_REQ_CITY	{{ easy_rsa_city }}
set_var EASYRSA_REQ_ORG		{{ easy_rsa_org }}
set_var EASYRSA_REQ_EMAIL	{{ easy_rsa_email }}
set_var EASYRSA_REQ_OU		{{ easy_rsa_department }}
