vrrp_instance VI_1 {
      interface "{{ ansible_default_ipv4.interface }}"
      state MASTER
      virtual_router_id 51
      priority 101
    authentication {
      auth_type PASS
      auth_pass your_password_here
    }
    virtual_ipaddress {
      "{{ virtual_ip }}"
    }
}